{% extends 'base.html' %}
{% load post_custom_tags %}
{% block title %}
    {{ request.user }}'s post
{% endblock title %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="eleven wide column">
                <div class="ui fluid card">
                    <div class="row">
                        {% if request.user == post.author %}
                            <a href="{% url 'posts:post-update' post.pk %}">
                                <button class="ui button bwhite-lg">Update</button>
                            </a>
                            <a href="{% url 'posts:post-delete' post.pk %}">
                                <button class="ui button bwhite-lg">Delete</button>
                            </a>
                        {% endif %}
                        <a href="{{ post.author.profile.get_absolute_url }}"><img
                                src="{{ post.author.profile.image.url }}" class="rounded-circle" width="30" height="30"
                                alt=""></a>
                        <a class="text-dark"
                           href="{{ post.author.profile.get_absolute_url }}"><b>{{ post.author }}</b></a>
                        <p class="card-text text-dark"> {{ post.content }}</p>
                        <small class="text-muted">Posted on: {{ post.created|age }}</small>
                    </div>
                    <hr>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button type="submit" class="ui primary button">
                                {% if profile not in post.liked.all %}
                                    <i class="heart outline icon"></i>&nbsp;Like
                                {% else %}
                                    <i class="heart icon"></i>&nbsp;Unlike
                                {% endif %}
                            </button>
                            &nbsp;{{ post.num_likes }} <small>likes</small>
                        </form>
                    </div>
                    <div>
                        {% if post.comment_set.all %}
                            {% for c in post.comment_set.all %}
                                <div {% if forloop.counter > 9 %} class="d-none" {% endif %} >
                                <p><a href={{ c.user.get_absolute_url }}> {{ c.user }}</a> : {{ c.body }}
                                    <br>
                                    <small>{{ c.created|age }}</small></p>
                                <div class="row">
                                    {% if request.user == post.author.user or request.user == c.user %}
                                        <a href="{% url 'posts:comment-delete' c.pk %}">
                                            <button class="ui button bwhite-lg">Delete</button>
                                        </a>

                                    {% endif %}
                                </div>
                                </div>
                            {% endfor %}

                        {% endif %}
                    </div>

                    <form action="" method="POST" class="ui form">
                        {% csrf_token %}

                        <input type="hidden" name="post_id" value={{ post.id }}>
                        {{ c_form }}
                        <button type="submit" class="ui primary button" name="submit_c_form">comment</button>
                        {{ post.num_comments }} <small>comments</small>
                    </form>
                </div>
            </div>

        </div>

    </div>

{% endblock content %}
