{#{% extends 'base.html' %}#}
{#{% block title%}#}
{#    welcome#}
{#{% endblock title%}#}
{#{% block content %}#}
{#{% if request.user.is_authenticated %}#}
{#<h1>Congratulations!! You are now logged In dear {{request.user.email}} </h1>#}
{#<div class="">#}
{#<button type="button" name="button"><a href="{% url 'logout' %}">Logout</a></button>#}
{#</div>#}
{#{% else %}#}
{#<h1>You Are Not logged in. Access Denied</h1>#}
{#<button type="button" name="button"><a href="{% url 'login' %}">Login</a></button>#}
{##}
{#{%endif%}#}
{##}
{#{% endblock content %}#}

{% extends 'base.html' %}
{% block title %}
    welcome
{% endblock title %}
{% block content %}
    <body style="background-color: #e1dce9">
    <div class="container" style="position: relative; text-align:center; margin-top: 8em">
        {% if request.user.is_authenticated %}
            <h1 style="font-family: verdana; color: black"><b>WELCOME!</b></h1>
            <h2 style="margin-top: 1em">You are now logged in dear <b
                    style="font-style: italic;color: black">{{ request.user.email }}</b></h2>

            <button type="submit" class="btn btn-primary"><a href="{% url 'logout' %}"
                                                             style="color: #ffffff;">Logout</a>
            </button>

        {% else %}
            </div>
            <h1>You Are Not logged in. Access Denied</h1>
            <button type="button" name="button"><a href="{% url 'login' %}">Login</a></button>

        {% endif %}
    </body>
{% endblock content %}