{% extends 'base.html' %}
{% block title %}
following
{% endblock title %}

{% block content %}

<h1>followers:</h1>


{% for x in followers %}
    <li><a href={{ x.get_absolute_url}}>{{ x.email }}</a></li>
{% endfor %}

{% if followers.has_other_pages %}
  <ul class="pagination">
    {% if followers.has_previous %}
      <li><a href="?page={{ followers.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in followers.paginator.page_range %}
      {% if followers.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if followers.has_next %}
      <li><a href="?page={{ followers.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock content %}
