<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>following</title>
</head>
<body>
<h1>followings:</h1>

{#{% for x in user.get_followings %}#}
{#    <li>{{ x.email }}</li>#}
{#{% endfor %}#}
{% for x in followings %}
    <li>{{ x.email }}</li>
{% endfor %}

{% if followings.has_other_pages %}
  <ul class="pagination">
    {% if followings.has_previous %}
      <li><a href="?page={{ followings.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in followings.paginator.page_range %}
      {% if followings.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if followings.has_next %}
      <li><a href="?page={{ followings.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</body>
</html>
