{% extends 'base.html' %}

{% block title %} follow requests {% endblock title%}

{% block content%}

{% if is_empty %}
    <h1>No requests</h1>
{% endif %}
{% for request in requests %}
        <h1>Your requests:</h1>
    <li><a href={{ request.follower.get_absolute_url }}>{{ request.follower.email }}</a></li>
    <form action="{% url 'profiles:accept_request' request.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="ui positive basic button w-big mb-5">
        <i class="check icon"></i>
        Accept
    </button>
    </form>
    <form action="{% url 'profiles:decline_request' request.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="ui negative basic button w-big mb-5">
        <i class="close icon"></i>
        Decline
    </button>
    </form>
{% endfor %}
<div>
<h3>recents:</h3>
{% if sent_requests.count == 0 %}
<h5>no recent requests</h5>
{% else %}
{% for req in sent_requests %}
<li>{{ req.following }} accepted your request</li>
{% endfor %}
{% endif %}
</div>
{% endblock content %}