{% extends 'base.html' %}
{% load post_custom_tags %}
{% load profile_tags %}
{% block title %}
    Profiles List
{% endblock title %}
{% block content %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href='{% url 'profiles:profile-detail-view' request.user.slug %}'
           style="text-decoration: none;"><b>{{ request.user.email }}</b> profile</a>
        <a href='{% url 'posts:new_post' %}' style="text-decoration: none;"> new post</a>
        <a href='{% url 'profiles:setting' %}' style="text-decoration: none;"> setting</a>
        <a style="color: white">Suggestions</a>
        <a href="" style="text-decoration: none;">  {% random_profiles request.user %}</a>

    </div>
    <div id="main">
{#        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>#}
        <div class="container mt-3" style="margin-top: 1.5em">
{#            <input for="email" class="form-control" id="myInput" type="text" placeholder="Search..">#}
            <br>
            <ul class="list-group list-group-flush" id="myList">
                {% for profile in profiles_list %}
                    <a class="list-group-item" style="background-color: #f5f0f5"
                       href={{ profile.get_absolute_url }}>{{ profile.email }}</a>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
    {#    sidebar script#}
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    {#    search scripts#}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $("#myInput").on("keyup", function () {#}
{#                var value = $(this).val().toLowerCase();#}
{#                $("#myList a").filter(function () {#}
{#                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)#}
{#                });#}
{#            });#}
{#        });#}
{#    </script>#}
    <div style="margin-top: 2em">
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class=" page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}

