{% extends 'base.html' %}
{% block title%}

{{ object.email }} profile
{% endblock title%}

{% block content %}
<body>
<div>
    <h1>{{ object.email }}</h1>
    <p>{{ object.get_full_name }}</p>
    <p>{{ object.bio }}</p>
    <a href={{ object.website }}> {{ object.website  }}</a>
<div>
    {% if object.email != request.user.email %}
        {% if object not in request.user.get_followings and object.email not in sent_requests %}
            <form action="{% url 'posts:send_follow_request' object.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="ui positive basic button mb-5 w-big"><i class="plus square icon"></i>Follow</button>
            </form>
        {% elif object.email in sent_requests %}
{#            and request.user.email not in object.get_followers #}
            <button class="ui disabled button mb-5 w-big"><i class="user icon"></i>Requested</button>
        {% endif %}
        {% if object in request.user.get_followings %}
            <form action="{% url 'posts:unfollow' object.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="ui positive basic button mb-5 w-big"><i class="plus square icon"></i>Unfollow</button>
            </form>
        {% endif %}
        {% if object in request.user.get_followers %}
            <form action="{% url 'posts:remove_follower' object.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="ui positive basic button mb-5 w-big"><i class="plus square icon"></i>Remove</button>
            </form>
        {% endif %}
    {% endif %}
</div>
<hr>
<div>
<table>
    <tr>
        <th>posts</th>
        <th>followers</th>
        <th>followings</th>
    </tr>
    <tr>
        <td> {{ object.get_posts_no }}</td>
        {% if request.user in object.get_followers or request.user == object %}
            <td><a href={% url 'posts:followers_list' object.slug %}> {{ object.get_followers_no }}</a></td>
            <td><a href={% url 'posts:followings_list' object.slug %}> {{ object.get_followings_no }}</a></td>
        {% else %}
            <td>{{ object.get_followers_no }}</td>
            <td>{{ object.get_followings_no }}</td>
        {% endif %}

    </tr>

</table>

<hr>
{% if request.user in object.get_followers or request.user == object%}
    <p>posts:</p>
    {% if object.get_all_authors_posts.count == 0 %}
        <p>No post yet</p>
    {% else %}
        {% for post in object.get_all_authors_posts %}
            <li><a href={{ post.get_absolute_url }}>{{ post }}</a></li>
        {% endfor %}
    {% endif %}
{% else %}
    <p>This account is private</p>
    <p>Follow this account to see their posts</p>
{% endif %}
</div>
</body>
{% endblock content %}

