{% extends 'base.html' %}
{% block title%}

{{ object.email }} profile
{% endblock title%}

{% block content %}

<body>
<div>
    <h1>{{ object.email }}</h1>
    <p>{{ object.get_full_name }}</p>
    <p>{{ object.bio }}</p>
    <p>{{ object.website }}</p>
</div>
<div>

</div>
<hr>
<div>
<table>
    <tr>
        <th>posts</th>
        <th>followers</th>
        <th>followings</th>
    </tr>
    <tr>
        <td> {{ object.get_posts_no }}</td>
        <td><a href={% url 'profiles:followers_list' %}> {{ object.get_followers_no }}</a></td>
        <td><a href={% url 'profiles:followings_list' %}> {{ object.get_followings_no }}</a></td>
    </tr>

</table>

<hr>

<p>followings:</p>
{% for profile in object.get_followings %}
    <li><a href={{ profile.get_absolute_url }}> {{ profile }}</a></li>
{% endfor %}

<p>followers:</p>
{% for profile in object.get_followers %}
    <li><a href={{ profile.get_absolute_url }}> {{ profile }}</a></li>
{% endfor %}
<hr>
<p>posts:</p>
{% for post in object.get_all_authors_posts %}
    <li><a href={{ post.get_absolute_url }}>{{ post }}</a></li>
{% endfor %}
</div>
</body>
{% endblock content %}

