

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title></title>
</head>
{% load post_custom_tags %}
{% load static %}
<body style="background-color: #f5f0f5">
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<header>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" style="justify-content: space-between;font-size: 15px">
                {% if request.user.is_authenticated %}
                    <li class="nav-item" style="position: relative; margin-right: 3em">
                        <a class="nav-link" style="font-size: 13px"
                           href={% url 'profiles:profile-detail-view' request.user.slug %} data-toggle="tooltip"
                           data-placement="top" title="my profile">

                            <i style="color: #d5cfcf"><b>{{ request.user.email }}</b> profile</i>
                        </a>
                    </li>
                    <li class="nav-item" style="position: relative; margin-right: 3em">
                        <a class="nav-link" href={% url 'posts:main-post-view' %} data-toggle="tooltip"
                           data-placement="top" title="contacts posts">

                                <i style="color: #d5cfcf">Home</i>

                        </a>
                    </li>
                    <li class="nav-item" style="position: relative; margin-right: 3em">
                        <a class="nav-link" href={% url 'posts:new_post' %} data-toggle="tooltip" data-placement="top"
                           title="new post">

                            <i style="color: #d5cfcf">New post</i>

                        </a>
                    </li>
                    <li class="nav-item" style="position: relative; margin-right: 3em">
                        <a class="nav-link" href={% url 'profiles:search' %} data-toggle="tooltip" data-placement="top"
                           title="search">

                            <i style="color: #d5cfcf">Search</i>

                        </a>
                    </li>
                    <li class="nav-item" style="position: relative; margin-right: 3em">

                        <a class="nav-link" href={% url 'profiles:follow_requests' %} data-toggle="tooltip"
                           data-placement="top"
                           title="my requests">

                            <i style="color: #d5cfcf">My requests</i>
                            <span class="badge badge-light"
                                  style="margin-left: 0.5em"> {{ request.user|counting }} </span>

                        </a>
                    </li>
                    <li class="nav-item" style="position: relative; margin-right: 3em">
                        <a class="nav-link" href={% url 'profiles:profiles_list' %} data-toggle="tooltip"
                           data-placement="top"
                           title="profiles list">
                                <i style="color: #d5cfcf">Profiles list</i>

                        </a>
                    </li>


                {% endif %}
            </ul>
        </div>
    </nav>

</header>
</body>
</html>